#section01 {
  height: 4000px;
}
.trigger01 {
  height: 4000px;
}
.fix01 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg01.png);
}

#section01 .maintitle01 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%,0);
}

#section01 .maintitle01 ul {
  display: flex;
}

#section01 .maintitle01 li {
  display: flex;
}

#section01 .maintitle01 li+li {
  margin-left: 40px;
}

#section01 .maintitle01 .two {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

#section01 .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


#section02 {
  height: 1000px;
}

#section02 .words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#section03 {
  height: 1000px;
}

#section03 .website {
  position: absolute; 
  top: 100px;
  left: 100px;
}

#section03 .fontspace {
  position: absolute; 
  top: 900px;
  left: 1200px;
}

#section03 .various {
  position: absolute; 
  top: 1800px;
  left: 100px;
}

#section03 .comingsoon {
  position: absolute; 
  top: 2700px;
  left: 1200px;
}

@media only screen and (max-width: 500px) {
  .boat {
    display: none;
  }
  .pc_ver {
    display: none;
  }
  .mobile_ver {
    display: block;
  }

  #smooth-content {
    /* overflow: visible; */
    overflow: hidden;
    width: 100%;
    height: 5400px;
    background: url(../img/new/background.png) bottom no-repeat #000;
  }

  #section04 {
    height: 800px;
  }

  .invitation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  #section05 {
    height: 800px;
  }

  .womb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #section06 {
    height: 3000px;
  }

  .trigger06 {
    height: 3000px;
  }

  .fix06 {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .poster01 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .poster02 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
  }

  .poster03 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .poster04 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
  }

  .poster05 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }
  
  .poster06 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .poster07 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .poster08 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  #section07 {
    height: 800px;
  }

  .archive {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .graphicdesign {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .poetry {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@media only screen and (min-width: 501px) {
  #smooth-content {
    /* overflow: visible; */
    width: 100%;
    height: 9000px;
    background: url(../img/bg02.png) bottom;
  }

  .mobile_ver {
    display: none;
  }

  .pc_ver {
    display: block;
  }

  .boat {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0) rotate(90deg);
    z-index: 500;
  }

}